<div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-database fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>Система учета и хранения информации о внесенных взносах на капитальный ремонт</div>
                        </div>
                    </div>
                </div>
                <a ui-sref="houses">
                    <div class="panel-footer">
                        <span class="pull-left">Открыть</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>